<app-panel>
    <img class="bg-image" src="../../../assets/images/express-bg.jpg"/>
</app-panel>
<app-panel>
  <div class="mission-panel">
    <p class="mission-title"><strong>Mission Statement</strong></p>
    <p class="mission-text">Express Chassis LLC’s mission is to provide a cost efficient and convenient way for pre-qualified trucking companies to rent chassis. Express Chassis LLC will utilize state of the art equipment and advanced technology to create a seamless client experience. We will provide dependable and efficient service that is superior to market standards. We are certain that the convenience and quality of our process will make us the industry’s go to chassis provider.</p>
  </div>
</app-panel>
<app-panel color="whitesmoke">
  <div class="container">
    <div class="row">
      <div class="col-md-6" style="padding-top: 24px; padding-bottom: 24px;">
        <mat-card class="example-card">
          <mat-card-header>
            <h3 class="card-title">Trucking Services</h3>
          </mat-card-header>
          <img mat-card-image src="./assets/images/trucking-services.jpg" alt="Trucking Services">
          <mat-card-content>
            <p>
              As a top of the line intermodal freight service, our roots in trucking are the core of our business. Our drivers are dedicated to transporting goods efficiently and safely. We train all of our employees to make sure that transfers are seamless so that time is not lost in transition.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-6" style="padding-top: 24px; padding-bottom: 24px;">
        <mat-card class="example-card">
          <mat-card-header>
            <h3 class="card-title">Specialty Services</h3>
          </mat-card-header>
          <img mat-card-image src="./assets/images/specialty-services.jpg" alt="Specialty Services">
          <mat-card-content>
            <p>
              Our warehousing and distribution services are optimized by a state of the art inventory system, ensuring that cargo ends up divided into the right trucks and sent to the right destinations at the right time. Our warehouses are protected with 24 hour security systems.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</app-panel>
<app-panel>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="padding-top: 24px; padding-bottom: 24px;">
                <mat-card class="example-card">
                    <mat-card-header>
                      <h3 class="card-title">Logistics</h3>
                    </mat-card-header>
                    <img mat-card-image src="./assets/images/logistics.jpg" alt="Logistics">
                    <mat-card-content>
                      <p>
                        Complicated logistics are our specialty. Let us know what your shipping goals are and we will get your cargo there.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col-md-4" style="padding-top: 24px; padding-bottom: 24px;">
                <mat-card class="example-card">
                    <mat-card-header>
                      <h3 class="card-title">Efficient</h3>
                    </mat-card-header>
                    <img mat-card-image src="./assets/images/efficient.jpg" alt="Efficient">
                    <mat-card-content>
                      <p>
                        Our warehousing and distribution services are highly efficent with a state of the art inventory system at the helm.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            <div class="col-md-4" style="padding-top: 24px; padding-bottom: 24px;">
                <mat-card class="example-card">
                    <mat-card-header>
                      <h3 class="card-title">Best-Rated</h3>
                    </mat-card-header>
                    <img mat-card-image src="./assets/images/best-rated.jpg" alt="Best-Rated">
                    <mat-card-content>
                      <p>
                        With 25 years in the business, we’re the absolute go-to hauler for many companies all across the country.
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
        </div>
    </div>
</app-panel>
