.landing-panel {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../../assets/images/highway-blur.jpg") center;
  display: grid;
  place-items: center;
}

.motto-container {
  padding: 20px;
  color: white;
  display: grid;
  place-items: center;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card-title {
  font-size: 24px;
}

.mission-panel {
  width: 100%;
  padding: 24px;
  display: grid;
  place-items: center;
  text-align: center;
}

.mission-title {
  padding-top: 64px;
  font-size: 60px;
}

.mission-text {
  padding-top: 64px;
  font-size: 20px;
  max-width: 800px
}

@media only screen and (max-width: 600px) {
  .mission-title {
    padding-top: 44px;
    font-size: 30px;
  }

  .mission-text {
    padding-top: 44px;
    font-size: 20px;
    max-width: 800px
  }
}
