<div style="width: 100%; position: fixed; z-index: 5">
  <mat-toolbar class="toolbar" [style.background]="rgba">
    <span style="font-family: 'Kameron', serif; cursor: pointer;" (click)="navigateHome()">EXPRESS CHASSIS, LLC</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>search</mat-icon>
    </button>
    <a href="contact">Contact</a>
    <a href="equipment">Equipment</a>
  </mat-toolbar>
</div>
